{% extends "core/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'core/article_detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/article_index.css' %}">
{% endblock %}

{% block content %}

<div class="article-container">
  <h1 class="page-header">{{ page.title }}</h1>

  <div class="article-intro">
    {{ page.intro|richtext }}
  </div>

  {% for child in page.get_children %}
    {% with child=child.specific %}
      <div class="pagebox">

        <a href="{% pageurl child %}">

          <div class="pagebox-image">
            <div class="imagewrap">
              {% image child.image original as child_image %}
              <img src="{{ child_image.url }}" class="img" width="100%">
            </div>
          </div>

          <div class="pagebox-info">
            <h3 class="page-title"> {{ child.title }} </h3>
            <div class="page-subtitle">{{ child.position }}</div>
            <div class="pagebox-teaser">
              {{ child.blurb|richtext }}
            </div>
          </div>
        </a>

      </div>

    {% endwith %}
  {% endfor %}
</div>

{% endblock %}
