{% load wagtailcore_tags %}
{% load cgricore_tags %}
{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ page.title }}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cgri.css' %}">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/navbar_transparent.css' %}">
    <link rel="stylesheet" href="{% static 'core/footer.css' %}">

    {% block stylesheets %}
    {% endblock %}

  </head>

  <body>

    {% wagtailuserbar %}

    {% block navbar %}
    {% cgri_navbar light=False %}
    {% endblock %}

    {% block rawcontent %}
    <div class="container contentblock-container">
      {% block content %}{% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    {% cgri_footer %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/cgri.js' %}"></script>

    {% block scripts %}
    {% endblock %}

  </body>

</html>
