/** General **********************************************
**********************************************************/
body {
  background: #fff;
}

.article-container {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.article-blurb {
  color: #777;
  font-size: 22px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
}

.block-heading {
  font-family: Helvetica,sans-serif;
  font-size: 24px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.1;
}
/*********************************************************/

/** Story Body *******************************************
**********************************************************/
.article-body {
  font-family: Georgia,serif;
  font-size: 17px;
  line-height: 1.70588235294118;
}

.article-body p {
  margin-bottom: 1.17647058823529em;
}

/*
.article-body::first-letter {
  font-size: 56px;
  font-family: Helvetica;
  float: left;
  padding: 0px 0.5em 0.5em 0px;
  line-height: 0.8em;
  border-right: 1px solid #333;
  margin-right: 0.4em;
  margin-top: 0.1em;
  margin-bottom: 0px;
}
*/

/*********************************************************/

.block-pullquote {
  float: right;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 40%;
}
blockquote {
  border-left: 0;
  border-right: 5px solid #eee;
  font-size: 22px;
  font-family: Helvetica,sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

/** Images ***********************************************
**********************************************************/
.captioned-image-block {
  text-align: center;
  margin: 40px 0px;
}

.captioned-image-block .title {
  font-size: 20px;
}

.captioned-image-block .subtitle {
  font-size: 14px;
  color: #888888;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.captioned-image-block .caption {
  font-size: 12px;
  color: #888;
  text-align: left;
  /*margin-left: 50px;*/
  margin-top: 15px;
}

.captioned-image-block .caption p {
  margin-bottom: 5px;
}

.captioned-image-block .credit {
  font-size: 12px;
  color: #aaa;
  text-align: left;
  /*margin-left: 50px;*/
  margin-top: 5px;
}

.captioned-image-block .credit::before {
  content: "Credit:";
  margin-right: 5px;
}

/*********************************************************/


/** Back Button ******************************************
**********************************************************/
.backbutton {
  text-align: center;
  margin-top: 30px;
}
/*********************************************************/

