.navbar-transparent {
  background-color: rgba(20, 20, 20, 0.3);
  color: #eee;
  /*background: transparent;*/
  border: none;
  z-index: 2000;
}

.dark {
  color: #333;
  background-color: #f8f8f8;
}

.navbar-simple .navbar-header::before {
  display: block;
}

.navbar-transparent .navbar-brand {
  color: inherit;
  font-variant: small-caps;
  font-size: 18px;
  transition-duration: 0.25s;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar-transparent .navbar-brand:hover {
  color: #94adb5;
  transition-duration: 0.25s;
}

.navbar-transparent .navbar-nav {
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 2px;
}

.navbar-transparent .navbar-nav li a {
  background: transparent;
  color: inherit;
  transition-duration: 0.25s;
}
.navbar-transparent .navbar-nav li a:hover {
  background: transparent;
  color: #94adb5;
  transition-duration: 0.25s;
}

.navbar-transparent .navbar-toggle.collapsed .icon-bar, .navbar-transparent .navbar-toggle .icon-bar {
  background-color: #eee;
}

.navbar-simple .navbar-collapse.collapse {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
.navbar-nav>li, .navbar-nav {
  float: left;
}

.navbar-simple .navbar-header {
  float: left;
}
*/
