{% extends "core/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load cgricore_tags %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'core/article_detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/article_index.css' %}">
<link rel="stylesheet" href="{% static 'articles/publication_citation.css' %}">
{% endblock %}

{% block navbar %}
{% cgri_navbar %}
{% endblock %}

{% block content %}

<div class="article-container">
  <h1 class="page-header">{{ page.title }}</h1>

  <div class="article-intro">
    {{ page.intro|richtext }}
  </div>

  {% for child in page.get_children %}
    {% with child=child.specific %}
    {% include child.index_entry_template with page=child %}
    {% endwith %}
  {% endfor %}
</div>

{% endblock %}
