{% load wagtailimages_tags %}

<div class="captioned-image-block">
  {% if value.title %}
  <div class="title">
    {{ value.title }}
  </div>
  {% endif %}

  {% if value.subtitle %}
  <div class="subtitle">
    {{ value.subtitle }}
  </div>
  {% endif %}

  {% image value.image original as main_image %}
  <img src="{{ main_image.url }}" width="100%">

  {% if value.caption %}
  <div class="caption">
    {{ value.caption }}
  </div>
  {% endif %}

  {% if value.credit %}
  <div class="credit">
    {{ value.credit }}
  </div>
  {% endif %}
</div>
